* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 900px;
  margin: 0 auto;
  padding: 10px;
}

main {
  width: 900px;
  margin: 0 auto;
  display: flex;
}

.product {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.basket {
  width: 40%;
}

.box {
  padding: 10px;
  width: 50%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 10px 0;
}

.btn {
  background: darkgoldenrod;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
}

.basket button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

button {
  cursor: pointer;
}

.basket .item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.price {
  margin: 5px 0 10px;
}

img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 10px;
}